<!-- This is a static file -->
<!-- served from your routes in server.js -->

<!-- You might want to try something fancier: -->
<!-- html/nunjucks docs: https://mozilla.github.io/nunjucks/ -->
<!-- pug: https://pugjs.org/ -->
<!-- haml: http://haml.info/ -->
<!-- hbs(handlebars): http://handlebarsjs.com/ -->

<!DOCTYPE html>
<html>
  <head>
    <title>Welcome to Crossfilter!</title>
    <meta name="description" content="A cool thing made with Glitch & Crossfilter">
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="stylesheet" href="/style.css">
    
  </head>
  <body>
    <header>
      <h1>
        Crossfilter Demo
      </h1>
    </header>

    <main>
      <p class="bold">Oh hi,</p>
      <p>This is going to be a playground for working with the crossfilter.js library</p>
      
    </main>

    <footer>
      <a href="https://glitch.com">
        INFO 401
      </a>
    </footer>

    <!-- Your web-app is https, so your scripts need to be too -->
    <script src="https://code.jquery.com/jquery-2.2.1.min.js"
            integrity="sha256-gvQgAFzTH6trSrAWoH1iPo9Xc96QxSZ3feW6kem+O00="
            crossorigin="anonymous"></script>
    <script src="/crossfilter.js"></script>
    <script src="/data.js"></script>
    <script>
      
    function print_filter(filter) {
    var f=eval(filter);
    if (typeof(f.length) != "undefined") {}else{}
    if (typeof(f.top) != "undefined") {f=f.top(Infinity);}else{}
    if (typeof(f.dimension) != "undefined") {f=f.dimension(function(d) { return "";}).top(Infinity);}else{}
    console.log(filter+"("+f.length+") = "+JSON.stringify(f).replace("[","[\n\t").replace(/}\,/g,"},\n\t").replace("]","\n]"));
      }
      
 
  var facts = crossfilter(data);
       console.log(facts);   //displays facts as a set of objects
      print_filter('facts');  //displays facts as a set of data

    </script>
  </body>
</html>
